<h1>{{title}}</h1>

<input type="text" [(ngModel)]="title" placeholder="Enter title">

<h2>{{getName()}}</h2>

<!--<img src="{{imageUrl}}" alt="{{imageAlt}}">-->
<img [src]="imageUrl" [alt]="imageAlt">

<!--safe navigatiom operator-->
<p [textContent]="user?.age"></p>

<h1>clicked {{clickCount}} times</h1>

<!--event binding example-->
<button (click)="clickMe()">Click me</button>

<!--signals exmaple-->
<h2>Angular Signals</h2>
<app-counter> </app-counter>

<!--signals exmaple-->
<!--struture directive example with index -->

<h1>ngfor example</h1>
<ul>
  <li *ngFor="let movie of movies; let i = index">
    {{i+1}}. {{movie}}
  </li>
</ul>

<h2>fetch first and last</h2>
<ul>
  <li *ngFor="let movie of movies; let isFirst = first; let isLast = last;">
    <strong *ngIf="isFirst">First:</strong>
    <strong *ngIf="isLast">Last:</strong> {{movie}}
  </li>
</ul>

<h3>fetch even and odd </h3>
<ul>
  <li *ngFor="let movie of movies; let isEven = even; let isOdd = odd;"
      [ngClass]="{'even-item': isEven, 'odd-item': isOdd}">
    {{movie}}
  </li>
</ul>

<!--struture directive example-->
<!--ngIf-->
<input type="checkbox" [(ngModel)]="showme"> Show me
<p *ngIf="showme">can you see me? </p>

<!--attribute directive example *ngClass-->
<p [ngClass]="['primary','big']">Sample text</p>
<!--based on condition show me is true then apply primary class otherwise not-->
<p [ngClass]="{'primary':showme}">Sample text-2</p>
<!--ngStyle-->
<p [ngStyle] ="{'color': 'red','font-size':'60px'}">ngStyle</p>
